<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".BundleActivity" android:exported="false" />
        <activity android:name=".BundleReceiverActivity" android:exported="false" />
        <activity android:name=".presentation.AndroidOsFundamentalsActivity" />
    </application>

</manifest>