<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />

    <!-->Разрешения для ограничений JobService (проверка wifi)<-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-->Разрешение, чтобы JobService перезапустился после выключения устройства.<-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <activity android:name=".presentation.BackgroundActivity" />

        <activity android:name=".services.service.ServiceActivity" />
        <service android:name=".services.service.BasicService" />
        <service android:name=".services.service.BasicServiceWithBackground" />

        <activity android:name=".notification.NotificationAboutActivity" />

        <activity android:name=".services.foreground_service.ForegroundServiceActivity" />
        <service android:name=".services.foreground_service.RestartingService" />
        <service android:name=".services.foreground_service.ForegroundService"
            android:foregroundServiceType="remoteMessaging"/>

        <activity android:name=".services.intent_service.IntentServiceActivity" />
        <service android:name=".services.intent_service.MyIntentService"
            android:foregroundServiceType="remoteMessaging"/>

        <activity android:name=".services.job_dispatcher.JobServiceActivity" />
        <service android:name=".services.job_dispatcher.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name=".services.job_dispatcher.JobServiceWithParam"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name=".services.job_dispatcher.ScheduledJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name=".services.job_dispatcher.MyIntentService2" />

    </application>
</manifest>