<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".presentation.BackgroundActivity" />

        <activity android:name=".services.service.ServiceActivity" />
        <service android:name=".services.service.BasicService" />
        <service android:name=".services.service.BasicServiceWithBackground" />

    </application>
</manifest>