<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".presentation.ViewsActivity" />
        <activity android:name=".presentation.custom_view.basic.BasicCustomViewActivity" android:exported="false" />
        <activity android:name=".presentation.custom_view.on_measure.MeasuredCustomViewActivity" android:exported="false" />
        <activity android:name=".presentation.custom_view.state_preservation.StatePreservationCustomViewActivity" android:exported="false" />
        <activity android:name=".presentation.custom_view.touch_events.TouchEventsCustomViewActivity" android:exported="false" />
    </application>
</manifest>